.breadcrum {
    margin: 30px 0;
    padding: 24px;
    background-color: #ebebeb;
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}
