.popular {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #171717;
        font-size: 5rem;
        font-weight: 600;
    }

    hr {
        margin-top: 20px;
        width: 200px;
        height: 6px;
        border-radius: 10px;
        background: #252525;
    }

    &-item {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 20px;
    }
}
